<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.blendee.plugin.properties.BlendeePropertyPage"
            id="org.blendee.plugin.propertyPage"
            name="Blendee">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Blendee"
            id="org.blendee.plugin"/>
      <view
            class="org.blendee.plugin.views.QueryEditorView"
            icon="icons/blendee.png"
            category="org.blendee.plugin"
            name="Blendee Select Editor"
            id="org.blendee.plugin.queryEditorView"/>
      <view
            category="org.blendee.plugin"
            class="org.blendee.plugin.views.ClassBuilderView"
            icon="icons/blendee.png"
            id="org.blendee.plugin.classBuilderView"
            name="Blendee Generator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.blendee.plugin.commandCategory"
            name="Blendee">
      </category>
      <command
            categoryId="org.blendee.plugin.commandCategory"
            id="org.blendee.plugin.restartSelectEditor"
            name="restartSelectEditor">
      </command>
      <command
            categoryId="org.blendee.plugin.commandCategory"
            id="org.blendee.plugin.restartGenerator"
            name="restartGenerator">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.blendee.plugin.popup.actions.ChangeProjectHandler"
            commandId="org.blendee.plugin.restartSelectEditor">
      </handler>
      <handler
            class="org.blendee.plugin.popup.actions.ChangeProjectHandler"
            commandId="org.blendee.plugin.restartGenerator">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Blendee">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="activeMenuSelection">
                 <iterate>
                    <adapt
                          type="org.eclipse.core.resources.IProject">
                    </adapt>
                 </iterate>
              </with>
           </visibleWhen>
            <command
                  commandId="org.blendee.plugin.restartSelectEditor"
                  icon="icons/blendee.png"
                  label="Select Editor を起動する"
                  style="push">
            </command>
            <command
                  commandId="org.blendee.plugin.restartGenerator"
                  icon="icons/blendee.png"
                  label="Generator を起動する"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
